.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  font-weight: 900;
  display: flex;
  padding: 20px 18px 18px 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 25px 0px;
  background-color: white;
  border-radius: 50%;
}
@media only screen and (max-width: 745px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
.swiper-pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
  transition: all .3s linear;
}
.swiper-pagination-bullet {
  border-radius: 5px;
  transition: all .1s linear;
}
.swiper-pagination-bullet-active {
	background: #ff8800;
  transition: all .1s linear;
  width: 20px;
}