.product-images-slider {
  .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .swiper-button-prev {
    left: 0;
    color: #000;
  }

  .swiper-button-next {
    right: 0;
    color: #000;
  }
  
}

.product-images-slider-thumbs {
  .swiper-slide {
    background-color: white;
    cursor: pointer;
    border: 2px solid #dddbdb;

    &-thumb-active {
      border-color: #ff8800;
    }
  }

  &-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
    }
  }
}