.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  font-weight: 900;
  display: flex;
  padding: 20px 18px 18px 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 25px 0px;
  background-color: white;
  border-radius: 50%;
}
