::-webkit-scrollbar {
  width: 14px;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 4px;
  border: 2px solid white;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #8d8cab;
  border-radius: 4px;
  border: 2px solid #2e2d4a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffb20b;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #a863fd;
}
/* scroll bar  */

/* Banner Card */
.day_gradient_border {
  position: relative;
}
.day_gradient_border::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
}
.day_gradient_border::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
}
.heart:hover {
  animation: heartbeat 1s infinite;
  fill: red;
  color: red;
  opacity: 1;
  transition: opacity 500ms;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 768px) {
  .day_gradient_border::after {
    content: "";
    border-radius: 10px;
    position: absolute;
    top: -2px;
    left: -2.5px;
    right: -2px;
    bottom: -2.5px;
  }
  #__replain_widget {
    right: 10px !important;
    bottom: 75px !important;
    max-height: calc(100% - 75px);
  }
}

.custom_scroll ::-webkit-scrollbar {
  display: none;
  width: 16px;
  border-radius: 6px;
}
.custom_scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}

.custom_scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* Main Features */
ul.leaders {
  padding: 0;
}
ul.leaders li {
  display: table;
}
ul.leaders li span {
  display: table-cell;
}
ul.leaders li span:first-child {
  position: relative;
  overflow: hidden;
}
ul.leaders li span:first-child:after {
  /* DASHES */
  content: "";
  position: absolute;
  bottom: 0.5em;
  margin-left: 0.5em;
  width: 100%;
  border-bottom: 1px dashed #9a9a9a;
}
ul.leaders li span + span {
  text-align: right;
  width: 1%;
  vertical-align: bottom;
  padding-left: 0.5em;
}

.mobile-first {
  transform: perspective(800px) rotateY(0deg) rotateX(10deg) rotate(-15deg);
  transform-style: preserve-3d;
}
.mobile-two {

  transform: perspective(900px) rotateY(-15deg) rotateX(0deg) rotate(15deg) ;
  transform-style: preserve-3d;
}
.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.app .ql-editor {
  min-height: 18em;
}