::-webkit-scrollbar {
  width: 16px;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 6px;
  border: 3px solid white;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #8d8cab;
  border-radius: 6px;
  border: 3px solid #2e2d4a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffb20b;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #a863fd;
}
/* scroll bar  */

/* Banner Card */
.day_gradient_border {
  position: relative;
}
.day_gradient_border::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
}
.day_gradient_border::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
}
.heart:hover {
  animation: heartbeat 1s infinite;
  fill: red;
  color: red;
  opacity: 1;
  transition: opacity 500ms;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 600px) {
  .day_gradient_border::after {
    content: "";
    border-radius: 10px;
    position: absolute;
    top: -2px;
    left: -2.5px;
    right: -2px;
    bottom: -2.5px;
  }
  #__replain_widget {
    right: 10px !important;
    bottom: 75px !important;
    max-height: calc(100% - 75px);
  }
}
