* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0 none !important;
}
html {
  scroll-behavior: smooth;
}
/* Tailwind directives to your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter";
  }
  body {
    @apply dark:bg-[#312d4b] bg-white;
  }
}
.container-full {
  @apply max-w-[1440px]  w-full lg:px-6 md:px-5 xl:px-4 px-4 mx-auto min-w-[320px] global-font;
}
.primary_bg {
  @apply bg-[#b038f6];
}
.primary_text_color {
  @apply bg-[#ff8400];
}
.global-font {
  font-family: "Inter";
}
.flex_center {
  @apply flex items-center justify-center;
}
.flex_betwen {
  @apply flex items-center justify-between;
}
.flex_end {
  @apply flex items-center justify-end;
}
.flex_col {
  @apply flex flex-col;
}
.flex_col_center {
  @apply flex flex-col justify-between items-center;
}
.is_mobile {
  @apply md:flex hidden;
}

.is_desktop {
  @apply md:hidden flex;
}
.text-primary {
  @apply text-xl text-gray-800 font-semibold;
}
.border_l {
  @apply border border-gray-200 dark:border-gray-600;
}
.tranistion_normal {
  @apply transition duration-200 ease-linear;
}
.sidebar-link {
  @apply relative flex rounded-lg flex-row items-center h-11 tranistion_normal focus:outline-none hover:bg-gray-400/50 text-gray-100 dark:text-gray-300 font-semibold hover:text-gray-100;
}
.sidebar_link-active {
  @apply relative flex rounded-lg mx-0 flex-row items-center h-11 focus:outline-none dark:bg-[#424069] bg-gradient-to-r from-cyan-500 to-teal-500 text-gray-100 dark:from-indigo-400 dark:to-blue-500 dark:text-gray-100 font-semibold hover:text-gray-800;
}
.dd {
  color: #312d4b;
}
.bg_secondary {
  @apply bg-[#ff8800];
}
.text_secondary {
  @apply text-[#ff8800];
}
.border_primary {
  @apply border border-gray-200 dark:border-gray-600;
}

.icon_color {
  @apply text-gray-700 dark:text-gray-300;
}
.text_color {
  @apply text-gray-700 dark:text-gray-300;
}
.bg_color {
  @apply bg-white dark:bg-[#312d4b];
}
.test_color {
  @apply bg-white dark:bg-[#ffffff0a];
}
