* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0 none !important;
}

/* Tailwind directives to your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-full {
  @apply max-w-[1440px] w-full lg:px-5 px-3 mx-auto min-w-[320px] select-none overflow-x-hidden;
}
.primary_bg {
  @apply bg-[#da002b]
}
/* .primary_bg {
  @apply bg-[#c300fe]
} */
.flex_center {
  @apply flex items-center justify-center
}
.tranistion_normal {
  @apply transition duration-200 ease-linear
}
.sidebar-link {
  @apply relative flex rounded-l-3xl flex-row items-center h-11 tranistion_normal focus:outline-none hover:bg-blue-400 text-gray-100 hover:text-gray-800
}
.sidebar_link-active {
  @apply relative flex rounded-l-3xl flex-row items-center h-11 focus:outline-none bg-slate-50 text-gray-800 hover:text-gray-800
}